body {
    background-color: black;
    background-image: url('img/tron2.jpg')
    
  }
  
  #container {
    display: grid;
    justify-items: center;
    width: 100%;
  }
  
  #calculator {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 500px;
    height: 700px;
    outline: none;
    border-color: #7DFDFE;
    box-shadow: 0 0 10px #7DFDFE;
    padding: 50px;
    grid-template-areas:
      "display display display display"
      "seven eight nine add"
      "four five six subtract"
      "one two three multiply"
      "zero clear equal divide";
  }
  
  #display-area {
    grid-area: display;
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  #seven {
    grid-area: seven;
  }
  
  #eight {
    grid-area: eight;
  }
  
  #nine {
    grid-area: nine;
  }
  
  #add {
    grid-area: add;
  }
  
  #four {
    grid-area: four;
  }
  
  #five {
    grid-area: five;
  }
  
  #six {
    grid-area: six;
  }
  
  #subtract {
    grid-area: subtract;
  }
  
  #one {
    grid-area: one;
  }
  
  #two {
    grid-area: two;
  }
  
  #three {
    grid-area: three;
  }
  
  #multiply {
    grid-area: multiply;
  }
  
  #zero {
    grid-area: zero;
  }
  
  #clear {
    grid-area: clear;
  }
  
  #equal {
    grid-area: equal;
  }
  
  #divide {
    grid-area: divide;
  }
  
  h1 {
    margin-top: 50px;
  }
  
  .neon {
    color: #fff;
    text-shadow:
      0 0 5px rgb(5, 5, 5),
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
  }
  
  .glow {
    font-size: 80px;
    color: #7DFDFE;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
   @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #7DFDFE, 0 0 40px #7DFDFE, 0 0 50px #7DFDFE, 0 0 60px #7dfdfe, 0 0 70px #7DFDFE;
    }
  
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #7DFDFE, 0 0 50px #7DFDFE, 0 0 60px #7DFDFE, 0 0 70px #7DFDFE, 0 0 80px #7DFDFE;
    }
  }
  
  
  
  .glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
  }
  
  .glowing-border:hover {
    outline: none;
    border-color: #7DFDFE;
    box-shadow: 0 0 10px #7DFDFE;
  }
  
  .glowing-border:focus {
    outline: none;
    border-color: #7DFDFE;
    box-shadow: 0 0 10px #7DFDFE;
  }
  
  button {
    margin: 10px;
    font-size: 30px;
    background-color: black;
  }